# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\90jma\OneDrive - Edge Hill University\CIS2158 Software Engineering\Assessment\DemoSoftware\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
